/* shared style */
.universal-btn:hover{
    animation: backwards;
}
.btn-primary{
    width: 132px;
    height: 48px;
    gap: 10px;
    font-size: 15px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    opacity: 100%;
    border: none;
    cursor: pointer;
}
/* header */
header{
    background-image: url(../Assets/Hero-bg.png);
    width:1440px;
    height:698px;
}


/* nav title */
nav{
display: flex;
justify-content: space-between;
width:1140px;
height:151px;
gap:auto;
font-size:50px;
margin-left: 150px;
}
nav h3{
    font-size: 34px;
    width: 99px;
    height: 51px;
    color: #4E47FF;
    
}
/* banner styles */
.banner{
    width: 905px;
    height: 217px;
    opacity: 100%;
    text-align: center;
    margin: 0 267px;
    gap: 30px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-btn{
    width: 174px;
    height: 48px;
   background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    opacity: 100%;
    border: none;
    cursor: pointer; 
}
/* user styles */
.user{
    display: flex;
    justify-content: space-between;
    width: 1123px;
    height: 328px;
    gap: 203px;
    opacity: 100%;
    /* margin: 116px 177px 0px 140px; */
    margin-top: 116px;
}
.user-content{
    width: 517px;
    height: 203px;
    gap: 23px;
    opacity: 100%;
}
.user-title{
    font-weight: bold;
    font-size: 42px;
    height: 49px;
}
.user-paragrap{
    font-size: 24px;
    color: #aeacc1;
}
.user-btn{
    width: 229px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    opacity: 100%;
    border: none;
    cursor: pointer;
}
.image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    opacity: 100%;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 141px;

}
/* about */
.about{
    background-color: #d3d3d3;
    border-radius:24px;
    padding: 50px 142px;
    text-align: center;
    margin-top: 116px;
}
.section-title{
    font-weight: bold;
    font-size: 38px;
    margin-top: 20px;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 5px;
    margin-top: 5px;
}
.item-description{
    font-size: 20px;
    color: #807e7e;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skills */
.skills{
    margin: 170px auto;
    height: 342px;
    border-radius: 15px;
    background-color: rgb(255, 253, 253)s;
}
.skill-title{
    text-align: center;
    font-weight: bold;
    font-size: 42px;

}
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;   
    padding:10px;
}
.skill{
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 10px 5px 10px silver;
    border-radius: 15px;
    width: 366px;
    height: 243px;
    

}
.star{
    color: #4002be;
    gap: 4px;
    width: 116px;
    height: 20px;
    font-size: 30px;
}
.skills-title{
    width: 221px;
    height: 29px;
    margin-bottom: 10px;
}
.skill-description{
    width: 318px;
    height: 44px;
    font-size: 16px;
}
.assets{
    display: flex;
    gap: 3px;
    align-items: center;
}
.skill-image{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.skill-name{
    width: 266px;
    height: 22px;
    color:#757575;
}
.skill-date{
    color: #B3B3B3;
}
.form{
    display: flex;
    justify-content: space-between;
    height: 632px;
    margin: 92px 16px;
}
.form-title{
    font-weight: bold;
    font-size: 97px;
    width: 528px;
    height: 232px;
    margin: 200px auto;
}
.form-action{
    width: 497px;
    height: 490px;
    margin: 71px auto;
}
.input{
    padding: 32px;
    font-size: 20px;
    width: 497px;
}
.form-btn{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    opacity: 100%;
    border: none;
    cursor: pointer;
    width: 565px;
    height: 62px;
    font-size: 19px;

}
/* footer */
.footer{
    background-color: #FFF8F3;
    width: 1440px;
    height: 428px;
    padding: 104px;

}
.anchor{
    text-decoration: none;
    color: #8987A1;
    margin: 0 30px;
}
.footer-colum{
    width: 531px;
    height: 221px;
    text-align: center;
    margin: 90px 454px;
}
.footer-title{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 10px;
}
.footer-desc{
    color: #8987A1;
}



